:root {
  --fonte-padrao: 'Montserrat', sans-serif;
  --cor-container: #fff;
  --fundo-1: #FBFBFB;
  --fundo-2: #191a29;
  --cor-texto: #0C0C0C;
  --primary: #ff3131;
}

[data-theme='dark'] {
  --fundo-1: #191a29;
  --cor-container: #26283f;
  --fundo-2: #0C0C0C;
  --cor-texto: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--fonte-padrao);
  background: var(--fundo-1);
  transition: background .4s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}